.button {
  background-color: transparent;
  border: 4px solid #fff;
  color: #fff;
  padding: 15px 25px;
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  width: 15%;

  &:hover, &:focus {
    background-color: #2a2135;
    cursor: pointer;
    transform: scale(1.03);
  }
}