.card {
  position: relative;

  &:hover, &:focus {
    cursor: pointer;
    transform: scale(1.03);
  }
  
  .front {
    &:hover,
      &:focus {
        cursor: default;
      }
  }

  img {
    border: 2px solid #fff;
    border-radius: 5px;
    display: block;
    width: 100%;
    background-color: rgb(231, 231, 231);
  }
}

.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}