.card {
  position: relative;

  .back {
    cursor: pointer;
  }

  img {
    display: block;
    width: 100%;
    border: 2px solid #fff;
    border-radius: 2px;
    background-color: rgb(186, 186, 186);
  }
}

.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}