@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.data-wrapper {
  display: flex;
  justify-content: space-between;
  width: 600px;

  p {
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
  }
}

.small-card-grid {
  grid-gap: 20px;
  display: grid;
  margin: 40px 80px 40px 80px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 700px;
}

.medium-card-grid {
  grid-gap: 20px;
  display: grid;
  margin: 40px 150px 40px 150px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 520px;
}

.hard-card-grid {
  grid-gap: 20px;
  display: grid;
  margin: 40px 100px 40px 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
